@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color:rgb(51, 51, 192);
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;     
  line-height: 2.5rem;  
  font-weight: 600;
  color: white;
}

h3 {
  font-size: 1.25rem;   
  line-height: 1.75rem; 
  font-weight: 600;
  color: white;
}

p {
  font-size: 1rem;      
  line-height: 1.375rem;
  font-weight: 400;
  color: white;
}
